body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: teal;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 350px;
  position: relative;
}

.searchBar--Input {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid brown;
  outline: none;
  background-color: whitesmoke;
  position: relative;
  z-index: 3;
}

.resultsList {
  width: 390px;
  max-height: 200px;
  margin-top: -20px;
  padding: 40px 0px 10px 0px;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  background-color: whitesmoke;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.issue {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
}
.issue--link {
  color: black;
  text-decoration: none;
}
.issue--labels {
  display: flex;
}
.issue--label {
  width: fit-content;
  margin: 0 5px;
  flex: 1;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.resultsList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}
.resultsList::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.resultsList::-webkit-scrollbar {
  width: 3px;
}
